html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Newsreader', -apple-system, sans-serif;
  font-size: 20pt;
}

.fs-30{
  font-size: 30pt;
}

.fs-10{
  font-size: 10pt;
}

.container{
  padding: 0 2rem;
}

.align-center{
  text-align: center;
}